/*Specific CSS for the blog page*/

/*ARTICLES*/
article {
  color: black;
  background-color: #fffefe;
  padding: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: 20px;
  margin-right: 0;
  border-radius: 5px;
  clear: both;
  display: block;
}
.blog-title {
  text-align: center;
}
.blog {
  margin: auto;
  width: 95%;
}

/*Blog Post Images*/
  .blog-img {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 95%;
  }
  .blog-scnd-img {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
  }

/*PAGE FUNCTIONALITY*/
  .moretext {
    display: none;
  }

/*TAGS & READ-MORE BTNs*/
  /*Aesthetics*/
  .btn-container {
    margin-left: 1.4%;
    padding: 5px;
  }
  button.read {
    border-radius: 10px;
  }
  .tags {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  button {
    background-color: #fffefe;
    color: #04AA6D;
    margin-top: 5px;
    padding: 3px;
    border-radius: 3px;
    border: none;
    font-size: 0.9em;
  }
  button:hover {
    background-color: #555;
    color: white;
  }
  /*Functionality*/
    .hide {
      display: none;
    }
    .show {
      display: block;
    }