/*Specific CSS for the blog page*/

/*ARTICLES*/
article {
  color: black;
  background-color: #fffefe;
  padding: 1px 30px 1px 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  display: block;
}
.blog-title {
  text-align: center;
}

/*Blog Post Images*/
  .blog-img {
    display: block;
    /* margin: auto; */
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
  }
  .blog-scnd-img {
    display: block;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60%;
    min-width: 300px;
  }

/*PAGE FUNCTIONALITY*/
  .moretext {
    display: none;
  }

/*TAGS & READ-MORE BTNs*/
  /*Aesthetics*/
  button.read {
    border-radius: 10px;
  }
  .tags {
    margin-top: -5px;
    margin-bottom: 10px;
  }
  button {
    background-color: #fffefe;
    color: #04AA6D;
    margin: 5px 0px 5px 0px;
    padding: 3px;
    border-radius: 3px;
    border: none;
    font-size: 0.9em;
  }
  button:hover {
    background-color: #555;
    color: white;
  }
  /*Functionality*/
    .hide {
      display: none;
    }
    .show {
      display: block;
    }